@{
    ViewBag.Title = "Home Page";
}

<style>
    #ClientSetupDlg { display: none; }
</style>

<h2>Showing a Partial View</h2>
@Html.Partial("_MyPartial")

@section scripts {
    <script type="text/javascript" src="~/bower_components/angular/angular.js"></script>
}